.container.top
  .row
    .col-md-3
      %ul.nav.nav-pills.nav-stacked
        %li{ class: "#{controller_name == 'epicenters' && action_name != 'members' && action_name != 'tshirts' ? 'active' : ''}" }= link_to "Epicenter", edit_epicenter_path(@epicenter)
        
        %li{ class: "#{controller_name == 'epipages' ? 'active' : ''}" }= link_to "Epicenter Pages", epicenter_epipages_path(@epicenter)

        %li{ class: "#{controller_name == 'fruittypes' ? 'active' : ''}" }= link_to "Frugttype", epicenter_fruittypes_path(@epicenter)
        
        %li{ class: "#{controller_name == 'access_points' ? 'active' : ''}" }= link_to "Access points", epicenter_access_points_path(@epicenter)
        - if @epicenter.fruittype.present?
          %li{ class: "#{controller_name == 'memberships' ? 'active' : ''}" }= link_to "Medlemskaber", epicenter_memberships_path(@epicenter)
        
        %li{ class: "#{action_name == 'members' ? 'active' : ''}" }= link_to "Medlemmer", epicenter_members_path(@epicenter)
        
        %li{ class: "#{action_name == 'tshirts' ? 'active' : ''}" }= link_to "Tshirts", epicenter_tshirts_path(@epicenter)
        
        %li{ class: "#{controller_name == 'information' ? 'active' : ''}" }= link_to "Information", epicenter_information_index_path(@epicenter)

      .alert.alert-danger
        - unless @epicenter.has_member?( current_user )
          %p Det er påkrævet at alle caretakers er medlem
          %p
            = link_to "Bliv medlem", new_epicenter_subscription_path( @epicenter ), :class => 'btn btn-primary'

    .col-md-9
      = yield