.container.top
  
  %h1.header
    - case @epicenter.status
      - when SEED        
        .fa-stack.seed
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-circle-thin.fa-stack-1x.white
      - when SPROUT
        .fa-stack.sprout
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-bolt.fa-flip-vertical.fa-stack-1x.white
      - when PLANT
        .fa-stack.plant
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-pagelines.fa-stack-1x.white
      - when TREE
        .fa-stack.tree
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-tree.fa-stack-1x.white
    = @epicenter.name
    
  .row
    .col-md-3
      %ul.nav.nav-pills.nav-stacked
        %li{ class: "#{controller_name == 'epicenters' and !['edit_members', 'members', 'tshirts', 'api'].include?(action_name) ? 'active' : ''}" }
          = link_to "Epicenter", edit_epicenter_path(@epicenter)

        %li{ class: "#{controller_name == 'information' ? 'active' : ''}" }
          = link_to "Main page", epicenter_information_index_path(@epicenter)

        %li{ class: "#{controller_name == 'epipages' ? 'active' : ''}" }
          = link_to "Epicenter pages", epicenter_epipages_path(@epicenter)
        
        - if @epicenter.status != SEED
          -# %li{ class: "#{controller_name == 'resources' ? 'active' : ''}" }
          -#   = link_to "Resources", epicenter_resources_path(@epicenter)

          %li{ class: "#{controller_name == 'fruittypes' ? 'active' : ''}" }
            = link_to "Fruit type", epicenter_fruittypes_path(@epicenter)

          - if @epicenter.fruittype.present?
            %li{ class: "#{controller_name == 'memberships' ? 'active' : ''}" }
              = link_to "Memberships", epicenter_memberships_path(@epicenter)
        
          %li{ class: "#{controller_name == 'access_points' ? 'active' : ''}" }
            = link_to "Member roles", epicenter_access_points_path(@epicenter)

          %li{ class: "#{action_name == 'edit_members' ? 'active' : ''}" }
            = link_to "Members", epicenter_edit_members_path(@epicenter)

          %li{ class: "#{controller_name == 'admissions' ? 'active' : ''}" }
            = link_to "Admissions", epicenter_admissions_path(@epicenter)

          %li{ class: "#{action_name == 'tshirts' ? 'active' : ''}" }
            = link_to "Tshirts", epicenter_tshirts_path(@epicenter)

          %li{ class: "#{action_name == 'api' ? 'active' : ''}" }
            = link_to "Api", epicenter_api_path(@epicenter)

      .well.well-sm
        %h4.header Please note
        - if @epicenter.status != SEED
          - if @epicenter.memberships.present?
            - unless @epicenter.has_member?( current_user )
              %p
                %i.fa.fa-exclamation-triangle 
                Det er påkrævet at alle caretakers er medlem
              %p
                = link_to "Join #{@epicenter.size}", new_epicenter_subscription_path( @epicenter ), :class => 'btn btn-primary'
          - else
            - if @epicenter.fruittype.present?
              %p
                %i.fa.fa-exclamation-triangle
                = link_to "Opret et medlemsskab", epicenter_memberships_path(@epicenter)
                før du selv kan blive medlem
            - else
              %p
                %i.fa.fa-exclamation-triangle 
                = link_to "Opret en frugttype", epicenter_fruittypes_path(@epicenter)
                før du kan oprette et medlemsskab
          
    .col-md-9
      = yield
