= simple_form_for @epicenter do |f|
  .form-group
    .row
      .col-md-10

        = f.input :name, label: "Navn", input_html: { :class => 'form-control' } 
      .col-md-2
        = f.input :size, label: "Størrelse", :collection => ['Tribe', 'Movement'], include_blank: false
  .form-group
    = f.input :tagline, input_html: { :class => 'form-control' } 
  .form-group
    = f.input :description, label: "Beskrivelse", input_html: { :class => 'form-control' } 
  
  .row
    .col-md-6
      .form-group
        = f.input :video_url, label: "Link til projekt video, e.g. youtube"
    .col-md-6
      .form-group
        = f.input :image, label: "Baggrundsbillede (optimalt format: 250px høj, og fuld bredde)"
  .row
    .col-md-3
      - if @epicenter.size
        = f.input :depth_members, label: "Minimum antal medlemmer", input_html: { :class => 'form-control', :value => @depth_members }
    .col-md-3
      - if @epicenter.size
        = f.input :depth_fruits, label: "Minimum antal #{@epicenter.mother_fruit.name}", input_html: { :class => 'form-control', :value => @depth_fruits } 

    - unless action_name == "new"
      .col-md-6
        = f.input :monthly_fruits_basis, :label => "Frugtræernes produktion pr. måned"
        %span.help-block Den frugt som alle medlemmer får hver måned fra deres træ
  
  = f.submit "Gem", :class => 'btn btn-primary'
  -# - if action_name == 'new'
  -#   = link_to "Fortryd", :back, class: "btn btn-default"
  -# - else
  -#   = link_to "Fortryd", epicenters_path, class: "btn btn-default"

<script>
$(document).ready(function(){$('[data-toggle="tooltip"]').tooltip();});
</script>