= simple_form_for @epicenter do |f|
  .form-group
    = f.input :name, label: "Name", input_html: { :class => 'form-control' } 
  .form-group  
    %label What kind of epicenter are you creating?
    .radio
      = f.collection_radio_buttons(:ongoing, [[true, 'Ongoing activity'] ,[false, 'A one time gathering']], :first, :last) do |b| b.label { b.radio_button + b.text } end
  .form-group
    = f.input :tagline, input_html: { :class => 'form-control' } 
  .form-group
    = f.input :description, label: "Description", input_html: { :class => 'form-control' } 
  
  .row
    .col-md-6
      .form-group
        = f.input :video_url, label: "Link to project video, e.g. youtube"
    .col-md-6
      .form-group
        = f.input :image, label: "Background image (optimal format: 250px high, and full screen width)"
  .row
    .col-md-3
      - if @epicenter.size
        = f.input :depth_members, label: "Minimum members", input_html: { :class => 'form-control', :value => @depth_members }
    .col-md-3
      - if @epicenter.size
        = f.input :depth_fruits, label: "Minimum #{@epicenter.mother_fruit.name}", input_html: { :class => 'form-control', :value => @depth_fruits } 

    - unless action_name == "new"
      .col-md-6
        = f.input :monthly_fruits_basis, :label => "Fruit tree yield per month"
        %span.help-block 
          The fruit that each member recieves from their tree per month
  
  = f.submit "Save", :class => 'btn btn-primary'

<script>
$(document).ready(function(){$('[data-toggle="tooltip"]').tooltip();});
</script>