= simple_form_for @epicenter do |f|
  = f.input :name
  = f.input :description
  = f.input :video_url
  = f.input :depth_members
  = f.input :depth_fruits
  -# temporary omitted monthly fruit basis (monthly fruits to members)
  -# TODO: move monthly fruits to "fruittype" model
  -# = f.input :monthly_fruits_basis
  
  = f.submit "Gem", :class => 'btn btn-primary'
  - if action_name == 'new'
    = link_to "Fortryd", :back, class: "btn btn-default"
  - else
    = link_to "Fortryd", edit_epicenter_path(@epicenter), class: "btn btn-default"
