= simple_form_for @epicenter do |f|
  = f.input :name
  = f.input :tagline
  = f.input :description
  .row
    .col-md-6
      = f.input :video_url
    .col-md-6
      = f.input :image
  .row
    .col-md-4
      = f.input :depth_members
    .col-md-4
      = f.input :depth_fruits
    .col-md-4
      = f.input :monthly_fruits_basis, :label => "Frugtræernes produktion pr. måned"
  -# temporary omitted monthly fruit basis (monthly fruits to members)
  -# TODO: move monthly fruits to "fruittype" model
  %span.help-block Den frugt som alle medlemmer får hver måned fra deres træ
  
  = f.submit "Gem", :class => 'btn btn-primary'
  - if action_name == 'new'
    = link_to "Fortryd", :back, class: "btn btn-default"
  - else
    = link_to "Fortryd", edit_epicenter_path(@epicenter), class: "btn btn-default"
