= render layout: "edit_epicenter" do
  %h3.header
    Members
  %table.table
    %thead
      %tr
        %th
          = link_to epicenter_edit_members_path(@epicenter, :sort => "name", :dir => @up ? 'down' : 'up') do
            - if @sort == "name" or not @sort
              %i.fa{ :class => "#{@up ? 'fa-chevron-up' : 'fa-chevron-down'} space-right-5"}
            Name
        %th
          = link_to epicenter_edit_members_path(@epicenter, :sort => "email", :dir => @up ? 'down' : 'up') do
            - if @sort == "email" or not @sort
              %i.fa{ :class => "#{@up ? 'fa-chevron-up' : 'fa-chevron-down'} space-right-5"}
            Email
        %th 
          = link_to epicenter_edit_members_path(@epicenter, :sort => "membership", :dir => @up ? 'down' : 'up') do
            - if @sort == "membership" or not @sort
              %i.fa{ :class => "#{@up ? 'fa-chevron-up' : 'fa-chevron-down'} space-right-5"}
            Membership
        %th
          = link_to epicenter_edit_members_path(@epicenter, :sort => "created", :dir => @up ? 'down' : 'up') do
            - if @sort == "created" or not @sort
              %i.fa{ :class => "#{@up ? 'fa-chevron-up' : 'fa-chevron-down'} space-right-5"}
            Created
        %th
          = link_to epicenter_edit_members_path(@epicenter, :sort => "updated", :dir => @up ? 'down' : 'up') do
            - if @sort == "updated" or not @sort
              %i.fa{ :class => "#{@up ? 'fa-chevron-up' : 'fa-chevron-down'} space-right-5"}
            Updated
        %th 
          - if @epicenter == Epicenter.grand_mother
            = link_to epicenter_edit_members_path(@epicenter, :sort => "bank", :dir => @up ? 'down' : 'up') do
              - if @sort == "bank" or not @sort
                %i.fa{ :class => "#{@up ? 'fa-chevron-up' : 'fa-chevron-down'} space-right-5"}
              Bank
        %th
    %tbody
      - for card in @cards
        %tr
          %td= card.user.name
          %td= card.user.email
          %td= card.membership.name
          %td= card.created_at.strftime("%-d %b, %Y")
          %td
            - if card.created_at.strftime("%-d %b, %Y") != card.updated_at.strftime("%-d %b, %Y")
              = card.updated_at.strftime("%-d %b, %Y")
          %td
            - if card.payment_id == "bank"
              %i.fa.fa-bank
              bank
            - elsif card.payment_id != nil
              %i.fa.fa-credit-card
            - else
              %i.fa.fa-circle-thin
          %td
            = link_to "Cancel", epicenter_subscription_path(@epicenter, card.membership, :user_id => card.user.id), :method => :delete, :class => 'btn btn-xs btn-danger', data: { confirm: "You are about to cancel #{card.user.name}s membership of #{@epicenter.name}. Are you sure!?" }

      -# - for user in @members
      -#   %tr
      -#     %td= user.name
      -#     %td= user.email
      -#     %td
      -#       - membership = user.get_membership(@epicenter)
      -#       = membership.name
      -#     %td
      -#       - card = user.get_membershipcard(@epicenter)
      -#       - if card.payment_id == "bank" 
      -#         %i.fa.fa-bank
      -#         bank
      -#       - elsif card.payment_id != nil
      -#         %i.fa.fa-credit-card
      -#       - else
      -#         %i.fa.fa-circle-thin
      -#     %td
      -#       = link_to "Cancel", epicenter_subscription_path(@epicenter, membership, :user_id => user.id), :method => :delete, :class => 'btn btn-xs btn-danger', data: { confirm: "You are about to cancel #{user.name}s membership of #{@epicenter.name}. Are you sure!?" }

      