- unless @epicenter.can_accept_members?
  .alert.alert-danger
    .container
      %i.fa.fa-exclamation-circle.space-right-sm
      Epicenteret kan endnu ikke modtage medlemmer


= render layout: "edit_epicenter" do
  %h3.header
    = @epicenter.name
    %small.pull-right
      %a{"aria-controls" => "settings", "data-toggle" => "tab", :href => "#settings", :role => "tab"} Ret
  %div
      
  / Tab panes
  .tab-content
    #about.tab-pane.active{:role => "tabpanel"} 
      .well
        - if @epicenter.description.present?
          = @epicenter.description
        - else
          Du mangler at give en beskrivelse af epicenteret
      %hr/
      - if @epicenter.memberships.present?
        %i.fa.fa-check-circle-o.space-right 
        Medlemsskaber oprettet
      - else
        %i.fa.fa-ban.space-right
        Ingen medlemsskaber oprettet
      %hr/
      - if @epicenter.fruittype.present?
        %i.fa.fa-check-circle-o.space-right 
        %strong= @epicenter.fruittype.name
        frugttype oprettet
      - else
        %i.fa.fa-ban.space-right 
        Ingen frugttype oprettet
    #settings.tab-pane{:role => "tabpanel"}
      = render :partial => "form"
      %a{"aria-controls" => "about", "data-toggle" => "tab", :href => "#about", :role => "tab"}
        Tilbage