.container.top
  .row
    .col-md-8
      - @epicenters.each do |epicenter|
        .panel.panel-default
          .panel-body
            %h3.header
              = link_to epicenter.name, epicenter
            %p
              %strong Status:
              status
            %p
              %strong Medlemmer:
              = epicenter.members.count
            %p
              %strong Frugter i frugtkurven:
              frugter
            %p
              %strong Medlemsskab per måned:
              - if epicenter.memberships.first.present?
                = epicenter.memberships.first.monthly_fee
              = epicenter.mother.fruittype.name

            - if current_user
              - if epicenter.has_member?( current_user )
                = link_to "Rediger medlemskab", epicenter_subscriptions_path( epicenter ), :class => 'btn btn-danger'
              - else
                = link_to "Bliv medlem", new_epicenter_subscription_path( epicenter ), :class => 'btn btn-primary'
            - else
              = link_to "Bliv medlem", new_epicenter_subscription_path( epicenter ), :class => 'btn btn-primary'
              -# = link_to "Bliv medlem", new_user_registration_path, :class => 'btn btn-primary'
            - if current_user
              - if epicenter.users_with_tshirt('caretaker').pluck(:id).include? current_user.id
                = link_to "edit", edit_epicenter_path(epicenter), :class => "btn btn-default"
    .col-md-4