.container.top
  .row
    .col-md-12.space-bottom-15
      %strong
        = pluralize(@epicenters.count, 'Epicenter')
        - if @status
          with
          = @status.upcase
          status
        - else
          (all)

      .pull-right
        = link_to "All", epicenters_path, :class => "btn btn-sm btn-sort #{@status ? '' : 'active'}"
        - ['tree', 'plant', 'sprout', 'seed'].each do |kind|
          = link_to epicenters_path(:status => kind, :sort => @sort, :dir => @dir), :class => "btn btn-sm btn-sort #{@status == kind ? 'active' : ''}" do
            = "#{kind.capitalize}s"
        |
        = link_to epicenters_path(:status => @status, :sort => 'members', :dir => @up ? 'down' : 'up'), :class => 'btn btn-sm btn-sort' do
          - if @sort == "members" or not @sort
            %i.fa{ :class => "#{@up ? 'fa-chevron-up' : 'fa-chevron-down'} space-right-5"}
            Members
        = link_to epicenters_path(:status => @status, :sort => 'support', :dir => @up ? 'down' : 'up'), :class => 'btn btn-sm btn-sort' do
          - if @sort == "fruits"
            %i.fa{ :class => "#{@up ? 'fa-chevron-up' : 'fa-chevron-down'} space-right-5"}
          Support
  
    - if @epicenters.count == 0
      .col-md-12
        %p
          There are currently no 
          %strong= @status
          epicenters.


    - @epicenters.each do |epicenter|
      .col-md-4
        = link_to epicenter do
          .panel.panel-default.panel-link
            .panel-image
              - if epicenter.image.present?
                = image_tag(epicenter.image)
              - elsif epicenter.mother.image.present?
                = image_tag(epicenter.mother.image)
              - else
                = image_tag(@mother.image)

            .progress.has-tooltip{ 'data-toggle' => "tooltip", "title" => "#{number_with_precision(epicenter.progress_members, precision: 1)}% minimum members reached", 'data-placement' => 'top' }
              .progress-bar{ :style => "width: #{epicenter.progress_members}%", 'aria-valuemin' => "0", 'aria-valuemax' => "100" }
            .progress.has-tooltip{ 'data-toggle' => "tooltip", "title" => "#{number_with_precision(epicenter.progress_fruits, precision: 1)}% #{epicenter.mother_fruit.name} reached", 'data-placement' => 'top' }
              .progress-bar.progress-bar-basic{ :style => "width: #{epicenter.progress_fruits}%" }
            
            .panel-body.main-info
              %h3.header
                = epicenter.name
              .stat-info
                .stat-item
                  - case epicenter.status
                    - when SEED
                      %i.fa.fa-circle{ class: "seed" }
                    - when SPROUT
                      %i.fa.fa-fire{ class: "sprout" }
                    - when PLANT
                      %i.fa.fa-plant{ class: "plant" }
                    - when TREE
                      %i.fa.fa-tree{ class: "tree" }
                  = epicenter.status_text
                .stat-item
                  %i.fa.fa-users.members
                  = epicenter.members.count
                .stat-item
                  %i.fa.fa-tint.waterdrop
                  = epicenter.fruitbasket.fruit_amount( epicenter.mother.fruittype ) || 0

              %p
                - if epicenter.tagline.present?
                  = epicenter.tagline
                - else
                  Tagline

            - if current_user
              - if epicenter.has_member?( current_user )
                %span.panel-member You are member
                
              / = link_to "Show", epicenter_path( epicenter ), :class => 'btn btn-danger'
              / - if current_user
              /   - if epicenter.has_member?( current_user )
              /     %span.space-left-5 You are a member
              /   - if epicenter.users_with_tshirt('caretaker').pluck(:id).include? current_user.id
              /     = link_to "Edit", edit_epicenter_path(epicenter), :class => "btn btn-default pull-right"
          
    