.container.top
  .row
    .col-md-8.col-md-offset-2.space-top-5.space-bottom-10

      = form_tag epicenters_path(:search => @search, :status => @status, :sort => @sort, :dir => @dir), :class => "form-inline", :class => 'search-form', :method => 'get' do
        .form-group
          = text_field_tag :search, @search, placeholder: @search || "Search for names, taglines, descriptions", :class => "form-control"
          = hidden_field_tag(:status, @status)
          = hidden_field_tag(:sort, @sort)
          = hidden_field_tag(:dir, @dir)
          = submit_tag "Search", :name => nil, :class => "btn btn-primary"

    .col-md-12.space-bottom-25
      %hr
      .pull-left
        %strong.space-right-15
          = pluralize(@epicenters.count, "Epicenter")
      
        = link_to "All", epicenters_path(:search => @search, :status => @status, :sort => @sort, :dir => @dir), :class => "btn btn-sm btn-sort #{@status ? '' : 'active'}"
        -# = link_to "All", epicenters_path, :class => "btn btn-sm btn-sort #{@status ? '' : 'active'}"
        - ['tree', 'plant', 'sprout', 'seed'].each do |kind|
          = link_to epicenters_path(:status => kind, :search => @search, :sort => @sort, :dir => @dir), :class => "btn btn-sm btn-sort #{@status == kind ? 'active' : ''}" do
            - case kind
              - when SEED
                %i.fa.fa-circle{ class: "seed" }
              - when SPROUT
                %i.fa.fa-bolt.fa-flip-vertical{ class: "sprout" }
              - when PLANT
                %i.fa.fa-pagelines{ class: "plant" }
              - when TREE
                %i.fa.fa-tree{ class: "tree" }
            = "#{kind.capitalize}s"
        - if @search or @status
          |
          = link_to "Clear search", epicenters_path, :class => "btn btn-sm btn-sort"
      .pull-right
        = link_to epicenters_path(:status => @status, :search => @search, :sort => 'members', :dir => @up ? 'down' : 'up'), :class => 'btn btn-sm btn-sort' do
          - if @sort == "members" or not @sort
            %i.fa{ :class => "#{@up ? 'fa-chevron-up' : 'fa-chevron-down'} space-right-5"}
          %i.fa.fa-users.members
        = link_to epicenters_path(:status => @status, :sort => 'support', :dir => @up ? 'down' : 'up'), :class => 'btn btn-sm btn-sort' do
          - if @sort == "support"
            %i.fa{ :class => "#{@up ? 'fa-chevron-up' : 'fa-chevron-down'} space-right-5"}
          %i.fa.fa-tint.waterdrop


    - if @epicenters.count == 0
      .col-md-12
        %h3 No epicenters matching
        - if @search
          %p
            %i.fa.fa-chevron-right 
            %strong= @search
            in name, tagline or description matching
        - if @status
          %p
            %i.fa.fa-chevron-right
            status 
            %strong= @status
        .space-top-30
        = link_to "Clear search", epicenters_path, :class => "btn btn-default"
        = link_to "Create new Epicenter", new_epicenter_path, :class => "btn btn-primary"


    - @epicenters.each do |epicenter|
      .col-md-4
        = link_to epicenter do
          .panel.panel-default.panel-link
            .panel-image
              - if epicenter.image.present?
                = image_tag(epicenter.image)
              - elsif epicenter.mother.image.present?
                = image_tag(epicenter.mother.image)
              - else
                = image_tag(@mother.image)

            .progress.has-tooltip{ 'data-toggle' => "tooltip", "title" => "#{number_with_precision(epicenter.progress_members, precision: 1)}% minimum members reached", 'data-placement' => 'top' }
              .progress-bar{ :style => "width: #{epicenter.progress_members}%", 'aria-valuemin' => "0", 'aria-valuemax' => "100" }
            .progress.has-tooltip{ 'data-toggle' => "tooltip", "title" => "#{number_with_precision(epicenter.progress_fruits, precision: 1)}% #{epicenter.mother_fruit.name} reached", 'data-placement' => 'top' }
              .progress-bar.progress-bar-basic{ :style => "width: #{epicenter.progress_fruits}%" }
            
            .panel-body.main-info
              %h3.header
                = epicenter.name
              .stat-info
                .stat-item
                  - case epicenter.status
                    - when SEED
                      %i.fa.fa-circle{ class: "seed" }
                    - when SPROUT
                      %i.fa.fa-bolt.fa-flip-vertical{ class: "sprout" }
                    - when PLANT
                      %i.fa.fa-plant{ class: "plant" }
                    - when TREE
                      %i.fa.fa-tree{ class: "tree" }
                  = epicenter.status_text
                .stat-item
                  %i.fa.fa-users.members
                  -# = epicenter.members.count
                  = epicenter.members_count
                .stat-item
                  %i.fa.fa-tint.waterdrop
                  -# = epicenter.fruitbasket.fruit_amount( epicenter.mother.fruittype ) || 0
                  = epicenter.fruits_count

              %p
                - if epicenter.tagline.present?
                  = epicenter.tagline
                - else
                  Tagline

            - if current_user
              - if epicenter.has_member?( current_user )
                %span.panel-member You are member
                
              / = link_to "Show", epicenter_path( epicenter ), :class => 'btn btn-danger'
              / - if current_user
              /   - if epicenter.has_member?( current_user )
              /     %span.space-left-5 You are a member
              /   - if epicenter.users_with_tshirt('caretaker').pluck(:id).include? current_user.id
              /     = link_to "Edit", edit_epicenter_path(epicenter), :class => "btn btn-default pull-right"
          
    