= render layout: "show_epicenter" do
  .container
    %h2
      Medlemmer
      %span.label.label-primary
        = @members.count
    %table.table.table-stribed
      %thead
        %tr
          %th #
          %th Navn
          %th Roller
          %th Medlem siden
      %body
        - @members.each_with_index do |user, index|
          %tr
            %td= index + 1
            %td= user.name
            %td
              - user.get_tshirts(@epicenter).each do |tshirt|
                %span.label.label-primary= tshirt.access_point.name
            %td
              - member_since = user.get_membershipcard(@epicenter).created_at
              = l(member_since, format: '%B %d, %Y')
