.container
  %h1 Create epicenter
  .row
    .col-md-8
      .well
        = render :partial => "form"
    .col-md-4
      .well
        %h3.header 
          When will your project receive funding?
        %p
          Your project will receive funding when your epicenter "sprout" shoots from the soil 
        %p
          Your sprout shoots when your project reaches the minimum support from
          %strong= "#{MIN_DEPTH_MEMBERS} members"
          supporting with
          
          %strong= "#{MIN_DEPTH_FRUITS} #{@mother.fruittype.name}"
        
        %h3 
          What are 
          %em your 
          minimum requirements?
        %p
          You have an excellent project. But when will you dedicate your time and committment to make it happen? In other words, what level of support do you and the project need?
