.jumbotron.epicenter
  .image
    - if @epicenter.image
      = image_tag(@epicenter.image, width: "100%", height: "250")
    .text-wrap
      .text 
        %h1= @epicenter.name
        - if @epicenter.tagline.present?
          %p= @epicenter.tagline

        - if @epicenter.can_accept_members?
          - if current_user
            - unless @epicenter.has_member?(current_user)
              = link_to "Bliv medlem", new_epicenter_subscription_path( @epicenter ), :class => 'btn btn-lg btn-primary'
          - else
            = link_to "Bliv medlem", new_epicenter_subscription_path( @epicenter ), :class => 'btn btn-lg btn-primary'

.container
  .row
    .col-md-8
      - if @left_info
        %h2= @left_info.title
        %p= @left_info.body

      - if @epicenter.video.present?
        .video-wrapper
          = @epicenter.video.html_safe

      - if @right_info
        %h2= @right_info.title
        %p= @right_info.body

    .col-md-4
      - if current_user
        - if @epicenter.status == SEED
          .well.well-sm.bg-ncm-info.space-top-15
            %p
              Support
              %strong= @epicenter.name
              with a single transfer of 
              = @epicenter.mother_fruit.name
              to state your interest for the idea
            %button.btn.btn-primary{"data-target" => "#supportModal", "data-toggle" => "modal", :type => "button"}
              Give
              = @epicenter.mother_fruit.name
          
      %h4.space-top-15
        %strong
          Overview
      %table.table.table-condensed
        %tr
          %td 
            You
          %td
            - if current_user and @epicenter.has_member?(current_user)
              Member
            - else
              = link_to "Bliv medlem", new_epicenter_subscription_path( @epicenter ), :class => 'btn btn-xs btn-primary'

        %tr
          %td Epicenter
          %td
            - case @epicenter.status
              - when SEED
                %i.fa.fa-circle{ class: "seed" }
                Seed
              - when SPROUT
                %i.fa.fa-bolt.fa-flip-vertical{ class: "sprout" }
                Sprout
              - when PLANT
                %i.fa.fa-pagelines{ class: "plant" }
                Plant
              - when TREE
                %i.fa.fa-tree{ class: "tree" }
                Tree
        %tr
          %td Members
          %td
            = @epicenter.members_count
        %tr
          %td
            = @epicenter.mother.fruittype.name
          %td
            = @epicenter.fruits_count
        %tr
          %td Active projects
          %td= @projects_count
        %tr
          %td Sprouts
          %td= @sprouts_count
        %tr
          %td Seeds
          %td= @seed_count

      - if @epicenter.status != SEED
        .well.well-sm.bg-ncm-info.space-top-15
          %p
            Support
            %strong= @epicenter.name
            with a single transfer of 
            = @epicenter.mother_fruit.name
            to state your interest for the idea
          %button.btn.btn-primary{"data-target" => "#supportModal", "data-toggle" => "modal", :type => "button"}
            Give
            = @epicenter.mother_fruit.name

      - if @logs.present?
        %h4 
          %strong Latest Activity
        %table.table.table-condensed.table-log
          - for log in @logs
            %tr
              %td
                = log.description
                %p.timestamp.last-element
                  = time_ago_in_words(log.created_at)
                  ago

      %h4 
        %strong Caretakers
      - for caretaker in @epicenter.users_with_tshirt("caretaker")
        = caretaker.name

/ Modal
- if current_user
  #supportModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
    .modal-dialog{:role => "document"}
      = form_for :support, url: user_support_epicenter_path(current_user, @epicenter) do |form|
        .modal-content
          .modal-header
            %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
              %span{"aria-hidden" => "true"} ×
            %h4#myModalLabel.modal-title
              Support
              = @epicenter.name
          .modal-body
            %p
              = @epicenter.name
              is not ready to receive members yet, but you can show your support for the project by
              making a one-time transfer of
              = @epicenter.mother_fruit.name
            %p
              You currently have 
              %strong
                = current_user.fruitbasket.fruit_amount(@epicenter.mother_fruit)
                = @epicenter.mother_fruit.name

            .form-group
              = form.number_field :amount, :class => "form-control", :id => "supportInput", :value => 10
              = hidden_field_tag(:epicenter_id, @epicenter.id)

          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cancel
            %button.btn.btn-primary{:type => "submit"} Support

