.container
  - if @child
    .col-md-12
      .panel.panel-default.space-top-30
        .panel-body
          .row
            = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f|
              .col-md-8
                %h2.header
                  Membership of
                  = @child.name
                %hr/
                %p
                  To become a
                  %strong= "#{@child_membership.name} Member"
                  of 
                  %strong= @child.name
                  you must create a membership of 
                  %strong New Circle Movement
                %ul
                  %li 
                    Type your email, choose a password and click 
                    %strong sign up
                  %li
                    This will redirected you to
                    %strong New Circle Movement payment
                  %li
                    Complete your payment in 
                    %strong the appearing box
                %p
                  When your payment succeeds you will be both a member of
                  %strong= @child.name
                  and
                  %strong New Circle Movement
                %hr/
                - if devise_mapping.registerable?
                  = link_to 'Already have an account?', new_session_path(resource_name)

              .col-md-4
                %h2.header Create profile
                %hr/
                = devise_error_messages!
                .form-group
                  = f.label :email
                  = f.email_field :email, class: 'form-control', :autofocus => true
                .form-group
                  = f.label :password
                  = f.password_field :password, class: 'form-control'
                .form-group
                  = f.label :password_confirmation
                  = f.password_field :password_confirmation, class: 'form-control'
                %p.hint.grey.smaller
                  By signing up you agree to receive occassional information from New Circle Movement as well as any
                  epicenter
                  = "(like #{@child.name})"
                  that you become a member of through New Circle Movement.                  
                = f.submit 'Sign up', :class => 'btn btn-primary btn-wide'
            

  - else
    .col-md-offset-4.col-md-4
      .authform.panel.panel-default.space-top-30
        .panel-body
          = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form'}) do |f|
            %h2.header.text-center Opret profil
            %hr/
            = devise_error_messages!
            .form-group
              = f.label :email
              = f.email_field :email, class: 'form-control', :autofocus => true
            .form-group
              = f.label :password
              = f.password_field :password, class: 'form-control'
            .form-group
              = f.label :password_confirmation
              = f.password_field :password_confirmation, class: 'form-control'
            %p.hint.grey.smaller
              By signing up you agree to receive occassional information from New Circle Movement as well as any
              epicenter that you become a member of through New Circle Movement.
            = f.submit 'Sign up', :class => 'btn btn-primary btn-wide'
            %hr/
            - if devise_mapping.registerable?
              = link_to 'I have an account', new_session_path(resource_name)
