.container
  .row
    .col-md-4
      %h2 
        PostIts
    .col-md-8.space-top-5
      = form_tag epicenter_postits_path(@epicenter, :search => @search, :kind => @kind, :sort => @sort, :dir => @dir), :class => "form-inline", :class => 'search-form', :method => 'get' do
        .form-group
          = text_field_tag :search, @search, placeholder: @search || "Search for title, tags, descriptions", :class => "form-control"
          = hidden_field_tag(:kind, @kind)
          = hidden_field_tag(:sort, @sort)
          = hidden_field_tag(:dir, @dir)
          = submit_tag "Search", :name => nil, :class => "btn btn-primary"

  %div.space-top-10
    .pull-left
      = link_to "All PostIts", epicenter_postits_path(@epicenter), :class => "btn btn-sort #{@kind == nil ? 'active' : ''}"
      = link_to "Notify", epicenter_postits_path(@epicenter, :kind => 'notify'), :class => "btn btn-sort #{@kind == 'notify' ? 'active' : ''}"
      = link_to "Give Aways", epicenter_postits_path(@epicenter, :kind => "giveaway", :search => @search, :sort => @sort, :dir => @dir), :class => "btn btn-sort #{@kind == 'giveaway' ? 'active' : ''}"
      = link_to "Exchanges", epicenter_postits_path(@epicenter, :kind => "exchange", :search => @search, :sort => @sort, :dir => @dir), :class => "btn btn-sort #{@kind == 'exchange' ? 'active' : ''}"

    .pull-right
      = link_to epicenter_postits_path(@epicenter, :kind => @kind, :search => @search, :sort => 'visibility', :dir => @up ? 'down' : 'up'), :class => 'btn btn-sort' do
        - if @sort == "visibility" or not @sort
          %i.fa{ :class => "#{@up ? 'fa-chevron-up' : 'fa-chevron-down'} space-right-5"}
        Visibility
      - if @kind == 'exchange'
        = link_to epicenter_postits_path(@epicenter, :kind => @kind, :search => @search, :sort => 'asking', :dir => @up ? 'down' : 'up'), :class => 'btn btn-sort' do
          - if @sort == "asking"
            %i.fa{ :class => "#{@up ? 'fa-chevron-up' : 'fa-chevron-down'} space-right-5"}
          Price
      -# = link_to epicenter_postits_path(:status => @status, :search => @search, :sort => 'members', :dir => @up ? 'down' : 'up'), :class => 'btn btn-sm btn-sort' do
      -#     - if @sort == "members" or not @sort
      -#       %i.fa{ :class => "#{@up ? 'fa-chevron-up' : 'fa-chevron-down'} space-right-5"}
      -#     %i.fa.fa-users.members
      -#   = link_to epicenters_path(:status => @status, :sort => 'support', :dir => @up ? 'down' : 'up'), :class => 'btn btn-sm btn-sort' do
      -#     - if @sort == "support"
      -#       %i.fa{ :class => "#{@up ? 'fa-chevron-up' : 'fa-chevron-down'} space-right-5"}
      -#     %i.fa.fa-tint.waterdrop
  .clearfix
  %hr/

  .row  
    .col-md-4
      .well.well-sm
        - if @kind == 'notify'
          %h3.header Notifications
          %p
            Find announcements, ideas and requests in 
            = "#{@epicenter.name}, " 
            or share your own

        - elsif @kind == 'giveaway'
          %h3.header Give Aways
          %p 
            Find resources that other members of 
            = @epicenter.name
            are giving away

        - elsif @kind == 'exchange'
          %h3.header Exchanges
          %p
            Find interesting offers by members of
            = "#{@epicenter.name}, "
            or share your own.

        - else
          %h3.header All PostIts
          %p
            Find notifications, give aways, and offers to 

        %hr/
        - if current_user and @epicenter.has_member?(current_user)
          = link_to "New PostIt", new_epicenter_postit_path(@epicenter), :class => "btn btn-primary"
        
    .col-md-8
      - if @postits.present?
        - @postits.each do |postit|
          .panel.panel-default
            .row
              - if postit.resource.present?
                .col-md-3
                  .image{ :style => "height: 180px" }
                    - if postit.resource.image.present?
                      = image_tag(postit.resource.image_url(:thumbnail_large))
                    - else 
                      No image
              %div{ :class => "#{postit.resource.present? ? 'col-md-9' : 'col-md-12'}", :style => "height: 180px" }
                %div{ :class => "#{postit.resource.present? ? '' : 'space-left-15'}" }
                  %h3
                    = postit.title
                  %p
                    - if postit.visibility > 0
                      .label.label-info.space-right-5
                        %i.fa.fa-eye
                        = postit.visibility
                    - if postit.asking > 0
                      .badge
                        = "#{postit.asking} #{@epicenter.fruittype.name}"

                    - if current_user and @epicenter.has_member?(current_user)
                      - if not postit.owner == current_user
                        - if postit.resource_requests.present?
                          - if postit.has_requester(current_user)
                            %span.label.label-success
                              You have requested
                          - else
                            = link_to epicenter_resource_requests_path(@epicenter, :holder_id => postit.owner.id, :resource_id => postit.resource.id, :postit_id => postit.id, :requester_id => current_user.id), :method => "post" do
                              %span.label.label-default 
                                Request
                                = "(#{postit.asking})"  
                        - else
                          - if postit.resource
                            = link_to epicenter_resource_requests_path(@epicenter, :holder_id => postit.owner.id, :resource_id => postit.resource.id, :postit_id => postit.id, :requester_id => current_user.id), :method => "post" do
                              %span.label.label-default 
                                Request
                                = "(#{postit.asking})"
                          -# - else
                          -#   = link_to epicenter_resource_requests_path(@epicenter, :holder_id => postit.owner.id, :postit_id => postit.id, :requester_id => current_user.id), :method => "post" do
                          -#     %span.label.label-default 
                          -#       = "(#{postit.asking})"


                      - if postit.owner == current_user
                        %span.space-left-10
                          = link_to "Delete", epicenter_postit_path(@epicenter, postit), :method => 'DELETE', :data => { :confirm => "Are you sure?" }, :class => "space-right-5"
                          = link_to "Edit", edit_epicenter_postit_path(@epicenter, postit)
                  %p
                    %span.grey By
                    %span
                      = postit.owner.name
                      %span.grey.space-left-10
                        = time_ago_in_words(postit.updated_at)
                        ago
                  %p
                    = postit.body
      
      - else
        - case @kind
          - when 'notify'
            %p No notifications
          - when 'giveaway'
            %p No Give Aways
          - when 'exchange'
            %p No exchanges


-# #transferModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
-#   .modal-dialog{:role => "document"}
-#     .modal-content
-#       .modal-header
-#         Header
-#       .modal-body
-#         Body
-#       .modal-footer
-#         Footer
    
