= render layout: "edit_user" do
  %h3.header Du er medlem af disse epicentre
  .row
    - current_user.memberships.each do |membership|

      .col-md-4
        
        .panel.panel-default
          .panel-image
            - if membership.epicenter.image.present?
              = image_tag(membership.epicenter.image)
            - elsif membership.epicenter.mother.image.present?
              = image_tag(membership.epicenter.mother.image)
            - else
              = image_tag(@mother.image)
          .panel-body
            %h4.header
              = membership.epicenter.name
            %p
              = membership.name
              %br/
              = membership.monthly_fee
              = membership.epicenter.mother_fruit.name
            %p
              = link_to "Vis", epicenter_path(membership.epicenter), :class => "btn btn-primary"
              = link_to "Ret", epicenter_subscriptions_path(membership.epicenter), :class => "btn btn-default"
