= render layout: "edit_user" do
  %h3.header Payment
  %p
    You are paying to New Circle Movement via 
    - if @payment.payment_id == "bank"
      %strong bank transfer
    - elsif @payment.payment_id != nil
      %strong credit card

  %hr/
  - if @card
    .row
      .col-md-6
        .well.well-sm
          %p
            %strong= current_user.name
          %p
            %span.grey XXXX XXXX XXXX XXXX
            %strong= @card.last4
          %p
            - exp_date = Date.new(@card.exp_year, @card.exp_month).end_of_month
            %strong= exp_date.strftime("%d. %B, %Y")
            %br/
            %span.grey Expiration date
            
          = form_tag({:controller => "subscriptions", :action => "update_creditcard", :membership_id => @membership.id}, {:method => "post"}) do
            %article
              - if flash[:error].present?
                #error_explanation
                  %p= flash[:error]

            %script.stripe-button{ "data-name" => "New Circle Movement", "data-description" => "Monthly fee", "data-zip-code" => true, "data-billing-address" => true, "data-email" => current_user.email, "data-amount" => "#{@membership.monthly_fee}00", "data-image" => "", "data-label" => "Update Creditcard", "data-key" => Rails.configuration.stripe[:publishable_key], "data-locale" => "en", "data-currency" => "dkk", :src => "https://checkout.stripe.com/checkout.js" }
