.jumbotron.home
  .container
    .row
      .col-md-offset-3.col-md-6
        .text-center
          %h1 Let's change the world
          %p 
            Find your tribe. Start the movement. Heal the planet.
          - unless user_signed_in?
            = link_to "Join now", new_user_registration_path, :class => 'btn btn-primary btn-lg'

.container.top
  -# - if user_signed_in?
  .row
    .col-md-6.engagement-box
      %h1.header 
        What's your passion?
      %p
        Launch your project and create your community.
      = link_to "Create epicenter", new_epicenter_path, :class => 'btn btn-primary btn-lg'
    .col-md-6.engagement-box
      %h1.header 
        The world needs you!
      %p        
        Get involved in projects that you care about.
      = link_to "Find epicenters", epicenters_path, :class => 'btn btn-primary btn-lg'
    
      
.container
  %hr/
  .row
    - if @left_info.present?
      .col-md-4
        %h2= @left_info.title
        %p= @left_info.body
    - if @right_info.present?
      .col-md-4
        %h2= @right_info.title
        %p= @right_info.body

    .col-md-4
      %h2 Activity
      %p A summary of New Circle Movement's support and payout in Danish Kroner
      
      %table.table.table-condensed
        - if @support
          %tr
            %td 
              Support from members 
              %p.timestamp.last-element 
                = Time.now.strftime("%B, %Y")
            %td 
              .stat-number
                - @support.to_s.chars.map(&:to_i).each do |digit|
                  .stat-number-digit.bg-ncm-dark-primary
                    = digit

                -# - @support.string.chars.map(&:to_i).each do |digit|
                -#   .stat-number-digit.bg-ncm-dark-primary
                -#     = digit
        - if @paid
          %tr
            %td 
              Paid to projects
              %p.timestamp.last-element 
                = @paid.body
            %td
              .stat-number
                - @paid.string.chars.map(&:to_i).each do |digit|
                  .stat-number-digit.bg-ncm-darker-primary
                    = digit
        - if @pool
          %tr
            %td 
              Pool for new projects
              %p.timestamp.last-element 
                = @pool.body
            %td
              .stat-number
                - @pool.string.chars.map(&:to_i).each do |digit|
                  .stat-number-digit.bg-ncm-primary
                    = digit
      - if @message
        .well.well-sm
          %p= @message.body.strip()



      / %table.table.table-condensed
      /   %tr
      /     %td Members
      /     %td= @mother.members.count
      /   %tr
      /     %td Active projects
      /     %td= @projects_count
      /   %tr
      /     %td Sprouts
      /     %td= @sprouts_count
      /   %tr
      /     %td Seeds
      /     %td= @seed_count
      /   %tr
      /     %td Udbetalt sidste måned
      /     %td



