-# MOTHER EPICENTERE
- if @epicenter == @mother
  %h3.header 
    Engagement: 
    =membership.name
  %p= membership.profile
  %p
    %strong Price:
    = membership.monthly_fee
    kroner per month
  %hr/
  = button_tag 'Select', type: 'button', onclick: "subscribeToMembership('#{membership.id}')", class: "btn btn-primary"

- else
  %h3.header
    = membership.name
  %p= membership.profile
  %p
    %strong Price:
    = membership.monthly_fee
    = @epicenter.mother.fruittype.name
    per month
  %hr/
  %p= link_to "Select", epicenter_subscriptions_path(@epicenter.slug, membership_id: membership.id), method: :post, class: "btn btn-primary"

-# %script
-#   function myFunction(membership) {
-#   console.log(membership)
-#   }
