-# MOTHER EPICENTERE
- if @epicenter == @mother
  %h3.header 
    Engagement: 
    =membership.name
  %p= membership.profile
  %p
    %strong Pris:
    = membership.monthly_fee
    kroner pr. måned
  %hr/
  = form_tag({:controller => "subscriptions", :action => "create", :membership_id => membership.id}, {:method => "post"}) do
    %article
      - if flash[:error].present?
        #error_explanation
          %p= flash[:error]

    %script.stripe-button{ "data-name" => "New Circle Movement", "data-description" => "#{membership.name}", "data-zip-code" => true, "data-billing-address" => true, "data-email" => current_user.email, "data-amount" => "#{membership.monthly_fee}00", "data-image" => "", "data-label" => "Betal", "data-key" => Rails.configuration.stripe[:publishable_key], "data-locale" => "en", "data-currency" => "dkk", :src => "https://checkout.stripe.com/checkout.js", :id => "button#{index}" }
    
    - if @request_epicenter and index == 0
      <script type="text/javascript">
      var x = document.getElementsByClassName("stripe-button-el");
      x[0].click();
      </script>

- else
  %h3.header
    = membership.name
  %p= membership.profile
  %p
    %strong Pris:
    = membership.monthly_fee
    = @epicenter.mother.fruittype.name
    pr. måned
  %hr/
  %p= link_to "Join #{@epicenter.size}", epicenter_subscriptions_path(@epicenter.slug, membership_id: membership.id), method: :post, class: "btn btn-primary"