.container
  %h1
    = @epicenter.name
  %p
    = "#{@epicenter.name} har #{@memberships.count} medlemskaber"


  .row
    - for membership in @memberships
      .col-md-4
        .thumbnail
          .caption
            %h3.header
              = membership.name
            %hr/
            %p
              = membership.profile
            %p
              %strong Månedlig pris:
              = membership.monthly_fee
              = @epicenter.mother.fruittype.name
            %hr/
            - if @membership == membership
              %button.btn.btn-danger TODO: Slet medlemskab 
            - else
              = link_to "Skift til #{membership.name}", epicenter_subscription_path(@epicenter, membership), method: :put, class: "btn btn-primary"
              