.jumbotron.epicenter
  .image
    - if @epicenter.image
      = image_tag(@epicenter.image, width: "100%", height: "250")
    .text-wrap
      .text 
        %h1= @epicenter.name
        - if @epicenter.tagline.present?
          %p= @epicenter.tagline

  
.container
  - if @request_epicenter
    %h2
      %strong
        = @request_epicenter.name
        membership

    %p
      Your 
      %strong Tinkuy membership 
      requires a membership with 
      %strong New Circle Movement. 
    %p.space-bottom-30
      You will only be charged through your New Circle Movement account. Please confirm your membership below.

  - if @epicenter.can_accept_members? || @epicenter.has_caretaker?( current_user )
    
    - if @request_epicenter 
      - if @request_membership.present?
        .row
          .col-md-4
            .well.well-sm
              = render partial: 'form', locals: { membership: @request_membership, request_membership: true }
          .col-md-4
            .well.well-sm.new-ncm-membership
              = render partial: 'form', locals: { membership: @membership, request_membership: false }
      - else
        %p
          Please contact New Circle Movement support


    - else
      %h2
        %strong Memberships
      .row
        - if @epicenter.can_accept_members? || @epicenter.has_caretaker?( current_user )
          - @memberships.each_with_index do |membership, i|
            .col-md-4
              .panel.panel-default
                .panel-body
                  = render partial: 'form', locals: { membership: membership, request_membership: false }
  - else
    %h2 Medlemskaber er ikke aktiveret
    %p
      = @epicenter.name 
      kan af følgende grunde endnu ikke modtage medlemmer
    %ul
      - if @epicenter.status == SEED
        %li
          Frøet til epicenteret er endnu ikke plantet
    %p
      Støt 
      %strong= @epicenter.name
      med en engangsoverførsel for at tilkendegive din interesse for epicenteret
    %p
      %button.btn.btn-primary.btn-lg{"data-target" => "#donateModal", "data-toggle" => "modal", :type => "button"}
        Støt med
        = @epicenter.mother_fruit.name
