.jumbotron.epicenter
  .image
    - if @epicenter.image
      = image_tag(@epicenter.image, width: "100%", height: "250")
    .text-wrap
      .text 
        %h1= @epicenter.name
        - if @epicenter.tagline.present?
          %p= @epicenter.tagline

  
.container
  - if @epicenter.can_accept_members? || @epicenter.has_caretaker?( current_user )
    %h1 Memberships
    %p
      %strong Current members:
      = @epicenter.users_with_tshirt('member').count

    .row
      - if @epicenter.can_accept_members? || @epicenter.has_caretaker?( current_user )
        - for membership in @memberships
          .col-md-4
            .panel.panel-default
              .panel-body
                = render partial: 'form', locals: {membership: membership}
  - else
    %h1 Medlemskaber er ikke aktiveret
    %p
      = @epicenter.name 
      kan af følgende grunde endnu ikke modtage medlemmer
    %ul
      - if @epicenter.status == SEED
        %li
          Frøet til epicenteret er endnu ikke plantet
    %p
      Støt 
      %strong= @epicenter.name
      med en engangsoverførsel for at tilkendegive din interesse for epicenteret
    %p
      %button.btn.btn-primary.btn-lg{"data-target" => "#donateModal", "data-toggle" => "modal", :type => "button"}
        Støt med
        = @epicenter.mother_fruit.name
