= simple_form_for [@epicenter, @access] do |f|
  - unless ['caretaker', 'member'].include? @access.name
    = f.input :name, label: "Navn på rollen"
  .well
    - if ['caretaker', 'member'].include? @access.name
      The
      %strong= @access.name
      role is a fixed role
      %hr/
    = f.input :menu_item, label: "Gør rollen aktiv i epicenteres menu"
    = f.input :menu_title, label: "Menu punktets navn"
  
  = f.submit "Gem", class: 'btn btn-primary'
  
  - if action_name == 'new'
    = link_to "Fortryd", :back, class: "btn btn-default"

