-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'New Circle Movement', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
      - if current_user.present?
        %ul.nav.navbar-nav.navbar-right
          %li
            %a
              - if @epicenter.present?
                - if @epicenter.has_member?(current_user)
                  = current_user.fruits(@epicenter)
                  = @epicenter.fruittype.name
              - else
                - if @mother.has_member?(current_user)
                  %i.fa.fa-lemon-o
                  = current_user.fruits(@mother)
                  = @mother.fruittype.name
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-user
              %span.caret
            %ul.dropdown-menu
              %li
                %a{:href => "#"} Min profil
              %li
                = link_to "Mit edlemsskab", epicenter_subscriptions_path(@mother)
              %li.divider{:role => "separator"}
              %li= link_to 'Log out', destroy_user_session_path, :method => :delete
      