- if @epicenter.present? and @epicenter.id
  - if current_user and @epicenter.has_caretaker?(current_user)
    %li
      = link_to edit_epicenter_path(@epicenter) do
        %span.badge 
          %i.fa.fa-heart
          Caretaker
  
  %li= link_to "Medlemmer", epicenter_members_path(@epicenter)
  - @pages.each do |page|
    %li= link_to page.menu_title, epicenter_epipage_path(@epicenter, page)
  
  - @epicenter.location.access_points.where(:menu_item => true).each do |item|
    %li
      = link_to item.menu_title, epicenter_members_path(@epicenter, :tshirt => item.name, :title => item.menu_title)

- else
  - if current_user and @mother.has_caretaker?(current_user)
    %li
      = link_to edit_epicenter_path(@mother) do
        %span.badge 
          %i.fa.fa-heart
          Caretaker

  %li= link_to "Epicentre", epicenters_path
  %li= link_to "Medlemmer", epicenter_members_path(@mother)


