-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if @epicenter.present? && @epicenter.id
        = link_to root_path, class: "home-link" do
          %i.fa.fa-chevron-circle-left
        = link_to @epicenter.name, epicenter_path(@epicenter), class: 'navbar-brand space-right'
      - else
        = link_to @mother.name, root_path, class: 'navbar-brand space-right'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        = render 'layouts/navigation_links'
      
      %ul.nav.navbar-nav.navbar-right
        - if current_user.present?
          
          - if @epicenter.present? && @epicenter.id
            - if @epicenter.has_member?(current_user) && @epicenter.fruittype.present?
              %li
                %a
                  = current_user.fruits(@epicenter)
                  = @epicenter.fruittype.name
            - else
              - if @epicenter.can_accept_members?
                %li{ :class => "#{controller_name == 'subscriptions' ? 'active' : ''}" }
                  = link_to "Become a member", new_epicenter_subscription_path( @epicenter )
              
          - else
            - if @mother.has_member?(current_user)
              %li
                %a
                  %i.fa.fa-tint
                  = current_user.fruits(@mother)
                  = @mother.fruittype.name
            - else
              %li{ :class => "#{controller_name == 'subscriptions' ? 'active' : ''}" }
                = link_to "Become a member", new_epicenter_subscription_path( @mother )

          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-user
              %span.caret
            %ul.dropdown-menu
              %li
                = link_to "My profile", edit_user_path(current_user)
              %li.divider{:role => "separator"}
              %li= link_to 'Log out', destroy_user_session_path, :method => :delete
        - else
          %li
            = link_to "Login", new_user_session_path